{{>layout/header}}

<!-- content -->
<div id="main_wrap">

    <div class="wrap" id="main_center_wrap">
        <div class="col-md-12">
            <div class="col-md-12">

                <h1>게시글 읽기</h1>
                <form>
                    <div class="form-group">
                        <label for="id">글 번호</label>
                        <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
                    </div>

                    <!--  방문 날짜 -->
                    <div class="form-group">
                        <label for="visitedDay"> 방문 날짜 </label>
                        <input type="text" class="form-control" id="visitedDate" value="{{post.visitedDate}}" readonly>
                    </div>

                    <!-- 글 내용 -->
                    <div class="form-group content-div">
                        <label for="content"> 내용 </label>
                        <textarea class="form-control" id="content" readonly>{{post.content}}</textarea>
                    </div>

                    <!--  한줄 코멘트 -->
                    <div class="form-group">
                        <label for="comment"> 한줄 코멘트 </label>
                        <input type="text" class="form-control" id="comment" value="{{post.comment}}" readonly>
                    </div>

                </form>

                <a href="/" role="button" class="btn btn-light">목록 보기</a>
                <button type="button" class="btn btn-primary" id="btn-go-update">수정 하기</button>
                <button type="button" class="btn btn-warning" id="btn-delete">삭제 하기</button>

            </div>
        </div>
    </div>

</div>

<script src="/js/app/post-read.js">
{{>layout/footer}}