{{>layout/header}}

    <!-- css -->40
    <link rel="stylesheet" href="/css/posts-save.css">
    <!-- DatePicker -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />

    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

</head>
<body>

<!-- content -->
<div id="main_wrap">
    <div class="wrap" id="main_left_wrap">
        <h1> 목록 </h1>
    </div>

    <div class="wrap" id="main_center_wrap">
        <div class="col-md-12">
            <div class="col-md-12">

                <h1>게시글 등록 </h1>
                <form>

                    <!--  방문 날짜 -->
                    <div class="form-group">
                        <label for="visitedDay"> 방문 날짜 </label>
                        <input type="text" class="form-control" id="visitedDate">
                    </div>

                    <!-- 글 내용 -->
                    <div class="form-group content-div">
                        <label for="content"> 내용 </label>
                        <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
                    </div>

                    <!--  한줄 코멘트 -->
                    <div class="form-group">
                        <label for="comment"> 방문 날짜 </label>
                        <input type="text" class="form-control" id="comment" placeholder="한줄 코멘트를 입력하세요">
                    </div>

                </form>

                <a href="/" role="button" class="btn btn-light">취소</a>
                <button type="button" class="btn btn-warning" id="btn-posts-save">등록</button>

            </div>
        </div>
    </div>

    <div class="wrap" id="main_right_wrap">
        <h1> 지도 </h1>
    </div>
</div>

<!-- posts js -->
<script src="/js/app/posts-save.js"></script>

{{>layout/footer}}